.box{
    width: 200px;
    height: 150px;
    background-color: cornsilk;
    margin-top:30px ;
    margin-left: 30px;
}
.box .pic{
    width: 100px;
    height: 100px;
}
.box .pic img{
    width: 200px;
    height: 150px;
    
}
.box1{
    width: 900px;
    height: 150px;
    background-color: rgb(247, 248, 249);
    margin-top: -120px;
    margin-left: 205px;

}
.box1 .foot{
    font-size: 10px;
    font-family: "Battambang", system-ui;
    font-weight: 10px;
}
.box2{
    width: 200px;
    height: 150px;
    background-color: antiquewhite;
    float: left;
    margin-left: -205px;
    margin-top: 10px;
}
.box4{
    width: 900px;
    height: 150px;
    background-color: rgb(249, 242, 242);
    margin-top: -120px;
    margin-left:205px;
   
}

.box5{
    width: 200px;
    height: 150px;
    background-color: antiquewhite;
    float: left;
    margin-top: 4px;
}
.box6{
    width: 900px;
    height: 150px;
    background-color: rgb(241, 242, 244);
    margin-top: -120px;
    margin-left: 205px;
}
.box6 .too{
    font-size: 15px;
    font-family: "Battambang", system-ui;
    font-weight: 20px;
}




